flows (1).json
[{"id":"5979b86c.896178","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"bbea7ac.d970388","type":"ibmiot in","z":"5979b86c.896178","authentication":"apiKey","apiKey":"7490af6c.72507","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"123456789","applicationId":"","deviceType":"smart_agri","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":340,"y":300,"wires":[["96da5593.a6fb88","5b52d747.52b408","512e352d.f4934c","7033babd.3a5654"]]},{"id":"96da5593.a6fb88","type":"debug","z":"5979b86c.896178","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":740,"y":300,"wires":[]},{"id":"5b52d747.52b408","type":"function","z":"5979b86c.896178","name":"temperature","func":"msg.payload=msg.payload.d.temperature;\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":392,"wires":[["96da5593.a6fb88","5b5f4e92.1db31"]]},{"id":"512e352d.f4934c","type":"function","z":"5979b86c.896178","name":"humidity","func":"msg.payload=msg.payload.d.humidity;\nreturn msg;","outputs":1,"noerr":0,"x":529,"y":204,"wires":[["96da5593.a6fb88","60b65942.3a30a8"]]},{"id":"7033babd.3a5654","type":"function","z":"5979b86c.896178","name":"soil moisture","func":"msg.payload=msg.payload.d.objectTemp;\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":80,"wires":[["96da5593.a6fb88","91847e89.c9de4"]]},{"id":"5b5f4e92.1db31","type":"ui_gauge","z":"5979b86c.896178","name":"","group":"89afe811.e28c88","order":0,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"Degree Celsius","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":790,"y":380,"wires":[]},{"id":"60b65942.3a30a8","type":"ui_gauge","z":"5979b86c.896178","name":"","group":"89afe811.e28c88","order":1,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":800,"y":200,"wires":[]},{"id":"8c256814.329b98","type":"http request","z":"5979b86c.896178","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"api.openweathermap.org/data/2.5/weather?q=Mumbai, IN&appid=4c944df90721d6bdddc39df1cf2226ff","tls":"","persist":false,"proxy":"","authType":"","x":470,"y":540,"wires":[["96da5593.a6fb88"]]},{"id":"31b46f63.62f0a","type":"inject","z":"5979b86c.896178","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":540,"wires":[["8c256814.329b98"]]},{"id":"95c919d9.9afe28","type":"ibmiot out","z":"5979b86c.896178","authentication":"apiKey","apiKey":"7490af6c.72507","outputType":"cmd","deviceId":"123456789","deviceType":"smart_agri","eventCommandType":"string","format":"json","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":300,"y":120,"wires":[]},{"id":"e3225537.65c218","type":"ui_button","z":"5979b86c.896178","name":"","group":"89afe811.e28c88","order":2,"width":0,"height":0,"passthru":false,"label":"MOTOR ON","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"MOTORON\"}","payloadType":"json","topic":"","x":140,"y":80,"wires":[["95c919d9.9afe28"]]},{"id":"69e32da1.4cdcd4","type":"ui_button","z":"5979b86c.896178","name":"","group":"89afe811.e28c88","order":3,"width":0,"height":0,"passthru":false,"label":"MOTOR OFF","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"MOTOROFF\"}","payloadType":"json","topic":"","x":140,"y":180,"wires":[["95c919d9.9afe28"]]},{"id":"91847e89.c9de4","type":"ui_gauge","z":"5979b86c.896178","name":"","group":"89afe811.e28c88","order":4,"width":0,"height":0,"gtype":"gage","title":"soil moisture","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":780,"y":80,"wires":[]},{"id":"7490af6c.72507","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"89afe811.e28c88","type":"ui_group","z":"","name":"IoT","tab":"27c7356d.38c3aa","order":1,"disp":true,"width":"6","collapse":true},{"id":"27c7356d.38c3aa","type":"ui_tab","z":"","name":"Smart_agriculture","icon":"dashboard","disabled":false,"hidden":false}]